extends layout

block content
  h1= title
  p TransportCanada IT-02 Process # 20-MOT-EA-HRS-98277-2

  ul
    li
      a(href='/recall/api1/all') API1 get full JSON
    li
      a(href='/recall/api1') API1 update JSON
  
  form(method='GET' action='')
    div.form-group
      label(for='category') JSON file:
      input#name.form-control(type='text', name='category' value=(undefined===recall ? '' : recall.category), required='true')
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg