extends layout

block content
  h1= title
  p TransportCanada IT-02 Process # 20-MOT-EA-HRS-98277-2

  ul
    li
      a(href='/recall/api2/all') API2 get full JSON
    li
      a(href='/recall/api2/category') API2 search category
  
  form(method='POST' action='' enctype='multipart/form-data')
    div.form-group
      label(for='file') JSON file:
      input#file.form-control(type='file', name='file', required='true')
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg